.footer
  .container
     a(href="").logofoot
      img(src="img/logo_foot.jpg")
     .foot
        .menu_foot.nv1
          span Навигация
          ul
            li
              a(href="").linkdef Главная
            li
              a(href="").linkdef Продукция
            li
              a(href="").linkdef Сервис
            li
              a(href="").linkdef Акции
            li
              a(href="").linkdef Контакты
            li
              a(href="").linkdef Карта сайта
        .menu_foot.nv2
          span Продукция
          ul
            li
              a(href="").linkdef Главная
            li
              a(href="").linkdef Продукция
            li
              a(href="").linkdef Сервис
            li
              a(href="").linkdef Акции
            li
              a(href="").linkdef Контакты
            li
              a(href="").linkdef Импортные запчасти
            li
              a(href="").linkdef Акции
            li
              a(href="").linkdef Контакты
            li
              a(href="").linkdef Импортные запчасти
            li
              a(href="").linkdef Импортные запчасти
        .info 
          span Информация
          p ООО “СибНовоТех”
          p ИНН 2464109562 / КПП 246501001
          p 660011, г. Красноярск, ул. Пограничников 14
          p Тел. / факс: +7 (391) 226-48-73
          p E-mail: trade@krasparus.ru
           


    script(src="//code.jquery.com/jquery-1.11.0.min.js", type="text/javascript")
    script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js", type="text/javascript")
    script(src="slick/slick.min.js", type="text/javascript")
    script.
        $('.ssider').slick({
            infinite: true,
            slidesToShow: 1,
            slidesToScroll: 1

        });      
