
// О нас
.wrapper{
	position: relative;
	background: url("#{$base-url}img/bg2.jpg") repeat-y;


	.container{
		position: relative;
		//overflow: hidden;
		//background-color: #fff;
		z-index: 3;
		&::before{
			content: "";
			display: block;
			position: absolute;
			width: 320px;
			height: 100%;
			left: -320px;
			top: 0;
			background: url("#{$base-url}img/bg3.png") repeat-y;
		}
		&::after{
			content: "";
			display: block;
			position: absolute;
			width: 320px;
			height: 100%;
			right: -320px;
			top: 0;
			background: url("#{$base-url}img/bg3.png") repeat-y;
		}
	}


}




.about{

	margin-top: 55px;
	padding-bottom: 95px;
	img{
		float: left;
		width: 50%;
	}
	.about_text{
		display: inline-block;
		padding-left: 40px;
		font-size: 19px;
		width: 50%;
	}
	p{margin-top: 15px}
	ul{
		@extend %list;
		margin-top: 20px;
		li{
			margin: 0;
			line-height: 1.1;
		}
	}
	.center{text-align: center;  }
	.titl{font-size: 22px;line-height:1.2}
	.bold{font-family: $bold}
	@include respond-to(medium){
		text-align: center ;
		img{
			float: none;
			display: inline;
			width: 100%;
			padding: 1%;
			margin-bottom: 15px;
		}
		.about_text{
			display: block;
			width: 100%;
			text-align: left;
			padding-left: 2%;
		}
		.center{text-align: left;}
	}
}

// работаем со всеми сферами наук
.arcord_bg{
	background: url("#{$base-url}img/bg4.jpg") repeat-y;
	padding-bottom: 15px;
}
.accordion
{
	width:100%;
	margin-top: 40px;
}
.accordion-item {
	width: 100%;
	padding-left: 10%;
	height: 65px;
	margin-bottom: 25px;
	line-height: 65px;
	background: $c1;
	font-size: 26px;
	font-family: $bold;
	text-transform: uppercase;
	color: #fff;
	cursor:pointer;
	position: relative;
	@include respond-to(small){
		font-size: 14px;
		padding-left: 2%;
	}
}


.accordion-item.open .type {
	background: url("#{$base-url}img/dd.png")  no-repeat;
	position: absolute;
	width: 31px;
	height: 23px;
	bottom: -32px;
	left:16%;
}



div.data {
	@include between;
	display: none;

	.gridlist{
		@include between;
		padding:10px 10% 25px 10%;
	}
	ul{
		padding-right: 10px;
		@extend %list;
		li{
			line-height: 1.1;
			color: #484038;
		}
	}
	@include respond-to(large){
		.gridlist{
			padding:10px 2% 25px 2%;
		}
	}
	@include respond-to(medium){
		.gridlist{
			display: block;
			ul{margin-bottom: 30px}
		}
	}
}
//
.bargrid{
	background: url("#{$base-url}img/bg5.jpg") repeat-y;
	padding-bottom: 30px;
	h2{padding-top: 35px}
}
.b-grids {
	margin-top: 50px;
	padding: 0 4%;
	@include between;
	.grid_item {
		//@include display-flex;
		//flex-wrap: wrap;
		//align-content: center;
		@include flexbild(center);
		background: url("#{$base-url}img/q1.jpg") no-repeat;
		background-size: 100%;
		width: 19%;
		height: 233px;
		padding:0 3%;
		//padding-top: 90px;
		font-size: 28px;
		text-align: center;
		span{
			display:inline-block;
			word-wrap: break-word;
		}

	}
	.ar1 {
		@include after() {
			background: url("#{$base-url}img/ar1.png") no-repeat;
			width: 110px;
			height: 35px;
			top: 20px;
			right: -100px;
		}
	}
	.ar2 {
		@include after() {
			background: url("#{$base-url}img/ar2.png") no-repeat;
			width: 110px;
			height: 35px;
			bottom: 20px;
			right: -100px;
		}
	}
	@include respond-to(verylarge){
		padding: 0 1%;
		.grid_item{
			width: 150px;
			height:150px;
			//padding: 0 10px;
			font-size: 16px;
			@include after() {
				right: -120px;
			}
		}

	}
	@include respond-to(large){
		.ar1,.ar2{
			@include after() {
				width:40%;
				background-size:100%;
				right: -45%;
			}
		}
	}
	@include respond-to(medium){
		@include flexbild(center);
		.grid_item{
			margin-bottom: 20px;
			width:220px;
			height: 220px;
			font-size: 21px;
			padding: 0 25px;
		}

		.ar1,.ar2{
			@include after() {
				display: none;
			}
		}
	}

}
//
.stock{
		position: relative;

		&::before{
			content: "";
			display: block;
			position: absolute;
			width: 320px;
			height: 100%;
			left: -320px;
			top: 0;
			background: url("#{$base-url}img/st1.jpg") repeat-y;
		}
		&::after{
			content: "";
			display: block;
			position: absolute;
			width: 320px;
			height: 100%;
			right: -320px;
			top: 0;
			background: url("#{$base-url}img/st2.jpg") repeat-y;
		}

	.stockimg{
		float: left;
		width: span(5);
		text-align: right;
		padding-right: 4%;
	}
	.stock_content{
		display: inline-block;
		width: span(7);
		padding-top: 30px;
			.stock-title{
				font-family: $bold;
				font-size: 88px;
				color: #b81320;
				line-height: 1;
				text-align: center;
				text-transform: uppercase;
			}
			.stock-info{
				font-family: $bold;
				font-size: 50px;
				text-align: center;
				line-height: 1.3;
				margin-top: 15px;
				white-space:nowrap;
				span{
						background-color: #b81320;
						padding: 40px 5px;
						border-radius: 100%;
						color: #fff;
					}
				@include respond-to(verylarge){
					white-space: normal;
					span{
						display: inline-block;
						margin-top: 20px;
					}
				}
				@include respond-to(small){
					span{padding:35px 15px}
				}
			}
			.button{
				margin: auto;
				margin-top: 40px;
				@include respond-to(verylarge){
					margin-bottom: 30px;
				}
			}
		@include respond-to(small){
			.stock-title{
				font-size: 42px;
			}
			.stock-info{
				font-size: 32px;
			}
		}
	}
	@include respond-to(large){
		.stockimg{
			display: none;
		}
		.stock_content{
			width: 100%;
		}
	}

}
