// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color:$background-base-color ;
  color:$base-color;
  //font: normal 125% / 1.4 ;
  font-family: $base-font;
  font-size: $base-font-size;
  line-height: $base-lineheigh;
  font-weight: normal;

}

.container {
  @include container($max-width);
  padding:0 10px;
}
/**
 * Basic styles for links
 */
a {
  color: $brand-color;
  text-decoration: none;

  @include on-event {
    color: $brand-color-hover;
    @if($brand-underline=='on'){
      text-decoration: underline;
    }@else{
      text-decoration: none;
    }

  }
}

p{
  margin: 0;
  margin-top: 10px;
}

